body {
    background-color: black;
}
.maindiv{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.links {
    width: 100%;
    text-align: center;
    color: #AAAAAA;
    font-family: verdana;
    underline: none;
}
#press {
    width: 100%;
    text-align: center;
    color: #AAAAAA;
    font-family: verdana;
}


div,a,a:link,a:visited, a:hover,p {
    color: #AAAAAA;
    font-family: arial;
    font-style: none;
    font-size: 12px;
    underline: none;
    text-decoration: none;
}

